body {
    color: #404040;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.4;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}
h1, h2, h3 {
    color: #000;
    line-height: 1.38em;
}
h1 {
    font-size: 25px;
    font-weight: 300;
    border-bottom: 1px solid #fff;
}
h2 {
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
    font-weight: 400;
}
h3 {
    font-size: 15px;
    font-weight: 400;
}
p.text {
    text-indent: 20px;
}
html {
    background: #f5f5f5;
    height: 100%;
}

/*input{
    width: 32%;
    height: 20px;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 3px solid rgba(0,0,0,0);
    box-sizing: border-box;
    border-radius: 5px;
}*/

/*.jsp {
    font-family: "Courier New", Courier, monospace;
    position: relative;
    background-color: gray;
    font-size: 22px;
    color: #FFFFFF;
    padding: 5px;
    width: 160px;
    height: 30px;
    text-align: center;
    -webkit-transition-duration: 0.4s; !* Safari *!
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid gray;
}*/

/*button {
    font-family: "Courier New", Courier, monospace;
    position: relative;
    background-color: gray;
    font-size: 16px;
    color: #FFFFFF;
    !*padding: 5px;*!
    !*height: 30px;*!
    margin: 0;
    text-align: center;
    -webkit-transition-duration: 0.4s; !* Safari *!
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid gray;
}*/

.db-div {
    margin: 30px;
    padding: 15px;
    border: 1px solid orangered;
    border-radius: 15px;
}

table{
    border: 1px solid burlywood;
    padding: 5px ;
    margin-bottom: 9px;
    font-family: "Courier New", Courier, monospace;
}

table tfoot tr:nth-child(odd) {background-color: white}
table tfoot tr:nth-child(even) {background-color: azure}

table tbody tr:nth-child(odd) {background-color: white}
table tbody tr:nth-child(even) {background-color: azure}

table thead tr td{
    background-color: grey;
    color: white;
    word-wrap: break-word;
    word-break: normal;
}

table thead tr{
    background-color: grey;
    color: white;
    word-wrap: break-word;
    word-break: normal;
}

th, td {
    padding: 5px 20px 5px 15px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
}

form {
    margin-bottom: 0;
}

label {
    display: block;
}

/*
.util-button {
    font-family: "Courier New", Courier, monospace;
    position: relative;
    background-color: gray;
    font-size: 16px;
    color: darkred;
    !*padding: 5px;*!
    !*height: 30px;*!
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-transition-duration: 0.4s; !* Safari *!
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid gray;
    text-indent: each-line;
}*/
